@if (paginatedMembers(); as paginatedResult) {
    <div class="flex flex-col w-full gap-6">
        <div class="flex flex-col md:flex-row justify-between items-center gap-4 bg-base-100 p-4 rounded-2xl shadow-sm border border-base-200">
            <div class="flex flex-wrap gap-3 items-center">
                <button (click)="openModal()" class="btn btn-primary btn-sm sm:btn-md">Select Filters</button>
                <button (click)="resetFilters()" class="btn btn-neutral btn-sm sm:btn-md">Reset Filters</button>
                <div class="text-sm sm:text-base bg-base-200/60 py-2 px-4 rounded-lg font-medium text-primary capitalize border border-base-300">
                    {{displayMessage}}
                </div>
            </div>
            @if (paginatedResult.metadata; as metadata) {
                <app-paginator 
                    [pageNumber]="metadata.currentPage"
                    [totalCount]="metadata.totalCount"
                    [totalPages]="metadata.totalPages"
                    [pageSize]="metadata.pageSize"
                    (pageChange)="onPageChange($event)"
                />
            }
        </div>

        @if (paginatedResult.items; as members) {
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
                @for (member of members; track member.id) {
                    <app-member-card [member]="member" />
                }
            </div>
        }
    </div>
}

<app-filter-modal 
    #filterModal
    [hidden]="!paginatedMembers()"
    (closeModal)="onClose()"
    (submitData)="onFilterChange($event)"
    [memberParams]="memberParams"
/>
